<div class="row">
    <input id="input" class="input" type="text" placeholder="Search Product ..." [(ngModel)]="term">

    <div class="col-md-3 " style="padding-left: 50px;">
        <p style="margin-top: 60px;">Total Users = {{total}}</p>

    </div>
    <div class="col-md-1">
        <p style="margin-top: 60px;margin-left: 42px;">list:</p>

    </div>
    <div class="col-md-1">
        <select style="margin-top: 60px;    height: 29px;" class="input-select" [(ngModel)]="selectInput">
       
            <option value="5">5</option>
            
            <option value="10">10</option>
            <option value="15">15</option>
    
       </select>
    </div>






</div>
<table class="table">
    <thead class="headth">
        <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone No</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of viewuser | paginate: { itemsPerPage: selectInput, currentPage: p } |filter:term ; let i= index">
            <th scope="row">{{i+1}}</th>
            <td>{{user.fullname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phoneno}}</td>
        </tr>

    </tbody>
</table>
<div id="page">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>