<div id="footer">
    <div class="container">

        <div class="col-md-6" style="width:30%;margin-top: 30px;">
            <h1 style="color: aliceblue;">Ar Securities</h1>
            <div class="header-logo" style="background-color: aliceblue;border-radius: 5px;margin-top: 30px;   ">
                <a href="#" class="logo">
                    <img src="assets/img/logo1.png" alt="" style="width: 190px;height: 80px;">
                </a>
            </div>
        </div>

        <div class="col-md-3 col-xs-6" style="margin-top: 10px;">
            <div class="footer">
                <h3 class="footer-title">About Us</h3>

                <ul class="footer-links">
                    <li><a href="#"><i class="fa fa-map-marker"></i> Gondia, Maharashtra, India</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>093569 69349</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i>info@arsecuritysystem.com</a></li>
                </ul>
            </div>
        </div>



    </div>
</div>




<div id="footer">
    <div class="container">

        <div class="col-md-3" style="border-right: 1px solid white;">

            <div class="products-tabs">
                <!-- tab -->
                <div id="tab1" class="tab-pane active">
                    <div class="products-slick" data-nav="#slick-nav-1">
                        <!-- product -->
                        <div class="product">
                            <div class="product-img">
                                <img src="assets/img/bill.jpg" alt="">
                                <div class="product-label">
                                    <!-- <span class="sale">-30%</span> -->
                                    <!-- <span class="new">NEW</span> -->
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category" style="color: rgb(49, 47, 47);">My Experience with this<br> Company is so good <br> i always prefferd to order <br> Security Items from<br> this site</p>


                            </div>

                        </div>
                        <!-- /product -->
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>