<div class="row">
    <div class="col-md-6" style="border-right: 1px solid black;">
        <div class="product-img">
            <img src="assets/img/product01.png" alt="">
            <div class="product-label">
                <!-- <span class="sale">-30%</span> -->
                <!-- <span class="new">NEW</span> -->
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-top: 60px;">
        <div class="container mt-3">

            <table class="table table-hover" style="width: 60%;">
                <thead>
                    <tr>
                        <th style="text-align: center;">
                            <h2> Pos system</h2>
                        </th>
                        <th style="padding-left: 90px;">
                            <button class="btn bg-danger " style="background-color:#D10024 ; color: white;border-radius: 5px;"><b>Buy Now</b></button>
                            <button class="btn bg-danger" style="background-color:#D10024 ; color: white;border-radius: 5px; margin-left: 10px;"><b>Add To Cart</b></button>
                        </th>
                    </tr>
                    <tr>
                        <th>Product Name</th>
                        <th>POS System</th>

                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <th>Description</th>
                        <th> Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Magni sunt accusantium dicta modi iusto repudiandae, quidem <br>quas veniam dolor repellat incidunt vel voluptatem odit<br> ipsa enim qui, doloremque laborum deleniti.</th>

                    </tr>
                    <tr>
                        <td>Color</td>
                        <td>White</td>

                    </tr>
                    <tr>
                        <td>Dimenssion</td>

                        <td>mary@example.com</td>
                    </tr>
                    <tr>
                        <td>Gross Weight</td>
                        <td>0.18 kg</td>

                    </tr>
                    <tr>
                        <td>Display</td>
                        <td>2.2” TFT colour LCD screen, white backlight</td>

                    </tr>
                    <tr>
                        <td>Power Supply</td>
                        <td>2pcs AA battery, support USB charging</td>

                    </tr>
                    <tr>
                        <td>Output Power</td>
                        <td>+10dB</td>

                    </tr>
                    <tr>
                        <td>Radio Range</td>
                        <td>330 G./100 meters (line of Sight)</td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>