
<div class="row">
    <div class="col-md-6" style="border-right: 1px solid black;">
        <div class="product-img">
            <img [src]="sanitize('data:image/png;base64, ' + _arrayBufferToBase64(currentproduct.image.data.data))" style="height: 314px;margin-left: 63px;width:83%;margin-top: 138px;">
            <div class="product-label">
                <!-- <span class="sale">-30%</span> -->
                <!-- <span class="new">NEW</span> -->
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-top: 60px;">
        <div class="container mt-3" style="width: 901px;">
            <h2>{{currentproduct.productname}}</h2>
            <table class="table table-hover" style="width: 60%;">
                <thead>

                    <tr>
                        <th>Product </th>
                        <th>{{currentproduct.productname}}</th>

                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>Description</td>
                        <td> {{currentproduct.description}}</td>

                    </tr>
                    <tr>
                        <td>Color</td>
                        <td>{{currentproduct.color}}</td>

                    </tr>

                    <tr>
                        <td>Category</td>
                        <td>{{currentproduct.cat}}</td>

                    </tr>
                    <tr>
                        <td>Model No.</td>
                        <td>{{currentproduct.modelno}}</td>

                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>{{currentproduct.price}}</td>

                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td>{{currentproduct.quantity}}</td>

                    </tr>
                    <tr>
                        <th style="text-align: center;">

                        </th>
                        <th style="padding-left: 90px;">
                            <button (click)="pay()" class="btn bg-danger " style="background-color:#D10024 ; color: white;border-radius: 5px;"><b>Buy Now</b></button>
                            <button (click)="addCart(currentproduct._id)" class="btn bg-danger" style="background-color:#D10024 ; color: white;border-radius: 5px; margin-left: 10px;"><b>Add To Cart</b></button>
                        </th>
                    </tr>


                </tbody>
            </table>
        </div>

    </div>
</div>