<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none;background: #343a40 ;color: rgb(166 166 167);" id="mySidebar">

    <div class="header-logo" style="background-color: aliceblue;border-radius: 5px;">
        <a class="logo">
            <img src="assets/img/ssc.jpeg" alt="" style="width: 190px;height: 80px;">
        </a>
    </div>
    <a routerLink="/ecom/home" class="w3-bar-item w3-button" style="border-bottom:2px solid #cecbcb"> Dashboard</a>
    <a routerLink="/ecom/home" class="w3-bar-item w3-button" style="border-bottom:2px solid #cecbcb"> Home</a>
    <a routerLink="viewusers" class="w3-bar-item w3-button" style="border-bottom:2px solid #cecbcb;"> View-User</a>
    <a routerLink="sell" class="w3-bar-item w3-button" style="border-bottom:2px solid #cecbcb;"> Add-Product</a>
    <a class="w3-bar-item w3-button" style="border-bottom:2px solid #cecbcb;"> Delet-Product</a>
    <a class="w3-bar-item w3-button" style="border-bottom:2px solid #cecbcb;">Add-Category</a>
    <a class="w3-bar-item w3-button" style="border-bottom:2px solid #cecbcb;">Sub-Category</a>


</div>

<div id="main">

    <div class="w3-teal">
        <div class="row">
            <div class="col-md-2">
                <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
                <button id="closenav" style="text-align: end; display: none;" class="w3-bar-item w3-button w3-large" onclick="w3_close()"><b>&#9776;</b></button>
            </div>


            <div class="col-md-10">
                <div style="margin-right: -40px;" class="w3-container">
                    <button id="b" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>
                </div>
            </div>

        </div>
    </div>
    <router-outlet></router-outlet>

    <img src="https://i.pinimg.com/originals/bf/a1/93/bfa193a83e74cb483f8566503955a063.jpg" alt="Car" style="width:100%">


</div>