<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none;background: rgb(240, 178, 62) ;color:whitesmoke;" id="mySidebar">

    <div class="header-logo" style="background-color: aliceblue;border-radius: 5px;">
        <a class="logo">
            <img src="assets/img/ssc.jpeg" alt="" style="width: 230px;height: 100px;">
        </a>
    </div>

    <a (click)="boom()" class="w3-bar-item w3-button" style="border-bottom:2px solid rgb(240, 178, 62); font-size: 17px; color: black;"> <i class="fa fa-dashcube" aria-hidden="true"></i>&nbsp;&nbsp; Dashboard
    </a>
    <a (click)="home()" routerLink="/ecom/home" class="w3-bar-item w3-button" style="border-bottom:2px solid rgb(240, 178, 62); font-size: 17px; color:black;"> <i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp; Home
    </a>
    <a (click)="boom()" routerLink="viewusers" class="w3-bar-item w3-button" style="border-bottom:2px solid rgb(240, 178, 62); font-size: 17px; color:black;"> <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp; View-User</a>
    <a (click)="boom()" routerLink="sell" class="w3-bar-item w3-button" style="border-bottom:2px solid rgb(240, 178, 62); font-size: 17px; color:black;"> <i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp; &nbsp; Add-Product
    </a>
    <a (click)="boom()" routerLink="editproduct" class="w3-bar-item w3-button" style="border-bottom:2px solid rgb(240, 178, 62); font-size: 17px;color:black; "> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp; Edit-Product
    </a>

    <a (click)="boom()" class="w3-bar-item w3-button" style="border-bottom:2px solid rgb(240, 178, 62); font-size: 17px;color:black;"> <i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp; &nbsp; Add-Category</a>
    <a (click)="boom()" class="w3-bar-item w3-button" style="border-bottom:2px solid rgb(240, 178, 62); font-size: 17px;color:black;"><i class="fa fa-cart-plus" aria-hidden="true"></i> &nbsp; &nbsp; Sub-Category</a>


</div>

<div id="main">

    <div class="w3-teal">
        <div class="row">
            <div class="col-md-2" style="background-color: rgb(240, 178, 62);    ">
                <button id="openNav" style="background-color: rgb(240, 178, 62);  " class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
                <button id="closenav" style="text-align: end; display: none; " class="w3-bar-item w3-button w3-large" onclick="w3_close()"><b>&#9776;</b></button>
            </div>


            <div class="col-md-10" style="background-color: rgb(240, 178, 62);  ">
                <div style="margin-right: -40px; background-color: rgb(240, 178, 62); font-size: 17px; padding-bottom: 5px; color: black; " class="w3-container">
                    <button id="b" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>
                </div>
            </div>

        </div>
    </div>
    <router-outlet></router-outlet>

    <img *ngIf="admin" src="assets/img/furnitureimgmain.jpg" alt="Car" style="width:100%">


</div>