#page {
    width: 250px;
    height: 70px;
    border: none;
    padding-top: 10px;
    margin-left: 70%;
    margin-top: 30px;
}

#input {
    height: 40px;
    padding: 5px 15px;
    border: 1px solid #E4E7ED;
    background-color: #FFF;
    width: 54%;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 70px;
    border: 1px solid black;
    border-radius: 15px;
}


/* 
tr:hover {
    background: black;
} */

#head:hover {
    background: #e5e5e5;
}

#editbtn {
    width: 70px;
    border: none;
    border: none;
    height: 30px;
    background: #f0b23e;
    color: black;
}