<div id="footer" style="margin-top: -11px;">
    <img src="../" alt="">
    <div class="row">
        <h3 style="margin-left: 230px;font-size: 50px;    font-weight: 500;color: #d10024;">Contact with Us</h3>
        <div class="col-md-6">

        </div>
        <div class="col-md-4" style="padding-bottom: 30px;">

            <form>

                <input style="border: 1px solid black;border-radius: 15px;" class="input" placeholder="Your Name"><br><br><br>
                <input style="border: 1px solid black;border-radius: 15px;" class="input" placeholder="Your Email"><br><br><br>

                <input style="border: 1px solid black;border-radius: 15px;" class="input" placeholder="Subject"><br><br><br>
                <textarea placeholder="...Your message" style="width: 355px;height: 113px;border-radius: 15px;border: 1px solid black"></textarea>
                <br><br>
                <button style="width: 63%;height:40px;border: none;border-radius: 15px;background: #d10024;color: aliceblue;margin-left: 15%;">Submit</button>
            </form>

        </div>
        <div class="col-md-2"></div>

    </div>



</div>