<div class="container mt-5" style="background-color: rgb(252, 250, 250);box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.336);">
    <div class="row">

        <div class="col-8 p-2">
            <div class="col-9 col-lg-offset-2">
                <form id="contact-form" method="post" action="" role="form">
                    <div class="messages">
                        <h3 style="margin-left: 200px;font-size: 40px;    font-weight: 500;color: #d10024;">Get in Touch</h3><br>
                    </div>
                    <div class="controls">
                        <div class="row">
                            <div class="form col-md-6">
                                <div class="form-group">
                                    <label for="form_name">Firstname *</label>
                                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form col-md-6">
                                <div class="form-group">
                                    <label for="form_lastname">Lastname *</label>
                                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form col-md-6">
                                <div class="form-group">
                                    <label for="form_email">Email *</label>
                                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form col-md-6">
                                <div class="form-group">
                                    <label for="form_phone">Phone</label>
                                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form col-md-12">
                                <div class="form-group">
                                    <label for="form_message">Message *</label>
                                    <input id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required data-error="Please,leave us a message.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                        </div>
                        <div><button class="btn " type="submit" value="Send message" style="background-color: #d10024;color: aliceblue;">
                            Submit
                         </button></div><br>

                    </div>

                </form>

            </div>
        </div>

        <div class="col-4 p-4" style="background-color: #d10024;color: #fff;">
            <div class="contact-info">
                <div class="messages">
                    <h3>Don't hesitate to contact us</h3><br>
                </div><br>

                <div class="icon">
                    <i class="fa fa-phone"></i>&nbsp;&nbsp;
                    <span>Call Us</span>
                    <p>+91-9098878217</p>
                </div>
                <br>

                <div class="icon">
                    <i class="fa fa-envelope"></i>&nbsp;&nbsp;
                    <span>Write to us</span>
                    <p>info@binarycodetechnologies.com</p>
                </div>
                <br>

                <div class="icon">
                    <i class="fa fa-skype"></i>&nbsp;&nbsp;
                    <span>Video chat with us</span>
                    <p>Skype</p>
                </div>


            </div>
        </div>
    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d59544.85512351114!2d79.08419925!3d21.130362249999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1642576664407!5m2!1sen!2sin" width="1350" height="550" style="border:0;margin-top: 50px;"
    allowfullscreen="" loading="lazy"></iframe>